<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 引入配置文件 -->
<mapper namespace="com.wgq.chat.contact.dao.AuditDao">


    <select id="getAudits" resultType="com.wgq.chat.contact.po.Audit">
        select * from audit where id = #{userId}
    </select>
</mapper>
