<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 引入配置文件 -->
<mapper namespace="com.wgq.chat.contact.dao.AuditDao">

    <resultMap id="auditResultMap" type="com.wgq.chat.contact.po.Audit">
        <result column="id" property="id"/>
        <result column="apply_user_id" property="applyUserId"/>
        <result column="business_type" property="businessType"/>
        <result column="business_id" property="businessId"/>
        <result column="audit_user_id" property="auditUserId"/>
        <result column="apply_reason" property="applyReason"/>
        <result column="audit_reason" property="auditReason"/>
        <result column="status" property="status"/>
        <result column="audit_time" property="auditTime"/>
        <result column="apply_time" property="applyTime"/>
    </resultMap>
    <insert id="insert">
        <if test="audit != null">
            insert into audit
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="audit.id != null">
                    id,
                </if>
                <if test="audit.applyUserId != null">
                    apply_user_id,
                </if>
                <if test="audit.businessType != null">
                    business_type,
                </if>
                <if test="audit.businessId != null">
                    business_id,
                </if>
                <if test="audit.auditUserId != null">
                    audit_user_id,
                </if>
                <if test="audit.applyReason != null">
                    apply_reason,
                </if>
                <if test="audit.auditReason != null">
                    audit_reason,
                </if>
                <if test="audit.status != null">
                    status,
                </if>
                <if test="audit.auditTime != null">
                    audit_time,
                </if>
                <if test="audit.applyTime != null">
                    apply_time,
                </if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="audit.id != null">
                    #{audit.id},
                </if>
                <if test="audit.applyUserId != null">
                    #{audit.applyUserId},
                </if>
                <if test="audit.businessType != null">
                    #{audit.businessType},
                </if>
                <if test="audit.businessId != null">
                    #{audit.businessId},
                </if>
                <if test="audit.auditUserId != null">
                    #{audit.auditUserId},
                </if>
                <if test="audit.applyReason != null">
                    #{audit.applyReason},
                </if>
                <if test="audit.auditReason != null">
                    #{audit.auditReason},
                </if>
                <if test="audit.status != null">
                    #{audit.status},
                </if>
                <if test="audit.auditTime != null">
                    #{audit.auditTime},
                </if>
                <if test="audit.applyTime != null">
                    #{audit.applyTime},
                </if>
            </trim>
        </if>
    </insert>

    <update id="update">
        <if test="audit != null and audit.id != null">
            update audit set
            <trim  suffixOverrides=",">
                <if test="audit.applyUserId != null">
                    apply_user_id = #{audit.applyUserId},
                </if>
                <if test="audit.businessType != null">
                    business_type = #{audit.businessType},
                </if>
                <if test="audit.businessId != null">
                    business_id = #{audit.businessId},
                </if>
                <if test="audit.auditUserId != null">
                    audit_user_id = #{audit.auditUserId},
                </if>
                <if test="audit.applyReason != null">
                    apply_reason =  #{audit.applyReason},
                </if>
                <if test="audit.auditReason != null">
                    audit_reason = #{audit.auditReason},
                </if>
                <if test="audit.status != null">
                    status =  #{audit.status},
                </if>
                <if test="audit.auditTime != null">
                    audit_time = #{audit.auditTime},
                </if>
                <if test="audit.applyTime != null">
                    apply_time = #{audit.applyTime},
                </if>
            </trim>
            where id = #{audit.id}
        </if>
    </update>

    <select id="getAudits" resultMap="auditResultMap">
        select * from audit where audit_user_id = #{auditUserId}
    </select>

    <select id="getAuditById" resultMap="auditResultMap">
        select * from audit where id = #{id}
    </select>

    <select id="exist" resultType="com.wgq.chat.contact.po.Audit">

    </select>
    <select id="getAudit" resultType="com.wgq.chat.contact.po.Audit">
        select * from audit
        <if test="audit != null">
            <trim prefix="where" prefixOverrides="and">
                <if test="audit.applyUserId != null">
                    and apply_user_id = #{audit.applyUserId}
                </if>
                <if test="audit.businessType != null">
                    and business_type = #{audit.businessType}
                </if>
                <if test="audit.businessId != null">
                    and business_id = #{audit.businessId}
                </if>
                <if test="audit.auditUserId != null">
                    and audit_user_id = #{audit.auditUserId}
                </if>
                <!--                <if test="audit.applyUserId != null">-->
                <!--                    and apply_user_id = #{audit.applyUserId}-->
                <!--                </if>-->
                <!--                <if test="audit.applyUserId != null">-->
                <!--                    and apply_user_id = #{audit.applyUserId}-->
                <!--                </if>-->
                <if test="audit.status != null">
                    and status = #{audit.status}
                </if>
                <if test="audit.auditTime != null">
                    and audit_time = #{audit.auditTime}
                </if>
                <if test="audit.applyTime != null">
                    and apply_time = #{audit.applyTime}
                </if>
            </trim>
        </if>
    </select>
</mapper>
