<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 引入配置文件 -->
<mapper namespace="com.wgq.chat.contact.dao.ContactDao">

    <insert id="insert">

    </insert>
    <delete id="removeById">
        delete from contact where id = #{id}
    </delete>
    <select id="findContact" resultType="com.wgq.chat.contact.po.Contact">
        select * from cotact where user_id = #{userId} and friend_id = #{friendId}
--         select * from cotact where user_id = #{userId} and friend_id = #{friendId} or (user_id = #{friendId} and friend_id = #{userId})
    </select>

    <select id="getMyContact" resultType="com.wgq.chat.contact.po.Contact">
        select * from contact where user_id = #{userId}
    </select>
</mapper>
