<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 引入配置文件 -->
<mapper namespace="com.wgq.chat.contact.dao.QunDao">

    <resultMap id="qunMap" type="com.wgq.chat.contact.po.Qun">
        <result column="id" property="id"/>
        <result column="room_id" property="roomId"/>
        <result column="name" property="name"/>
        <result column="announcement" property="announcement"/>
        <result column="nationality_id" property="nationalityId"/>
        <result column="organization_id" property="organizationId"/>
        <result column="owner_id" property="ownerId"/>
        <result column="category_id" property="categoryId"/>
        <result column="remark" property="remark"/>
        <result column="status" property="status"/>
        <result column="create_user_id" property="createUserId"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="modified_user_id" property="modifiedUserId"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="create_user_name" property="createUserName"/>
        <result column="modified_user_name" property="modifiedUserName"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        <if test="qun != null">
            insert into qun
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="qun.id != null">
                    id,
                </if>
                <if test="qun.roomId != null">
                   room_id,
                </if>
                <if test="qun.name != null">
                    name,
                </if>
                <if test="qun.announcement != null">
                    announcement,
                </if>
                <if test="qun.nationalityId != null">
                    nationality_id,
                </if>
                <if test="qun.organizationId != null">
                    organization_id,
                </if>
                <if test="qun.ownerId != null">
                    owner_id,
                </if>
                <if test="qun.categoryId != null">
                    category_id,
                </if>
                <if test="qun.remark != null">
                    remark,
                </if>
                <if test="qun.status != null">
                    status,
                </if>
                <if test="qun.createUserId != null">
                    create_user_id,
                </if>
                <if test="qun.gmtCreate != null">
                    gmt_create,
                </if>
                <if test="qun.gmtModified != null">
                    gmt_modified,
                </if>
                <if test="qun.modifiedUserId != null">
                    modified_user_id,
                </if>
                <if test="qun.createUserName != null">
                    create_user_name,
                </if>
                <if test="qun.modifiedUserName != null">
                    modified_user_name,
                </if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="qun.id != null">
                    #{qun.id},
                </if>
                <if test="qun.roomId != null">
                    #{qun.roomId},
                </if>
                <if test="qun.name != null">
                    #{qun.name},
                </if>
                <if test="qun.announcement != null">
                    #{qun.announcement},
                </if>
                <if test="qun.nationalityId != null">
                    #{qun.nationalityId},
                </if>
                <if test="qun.organizationId != null">
                    #{qun.organizationId},
                </if>
                <if test="qun.ownerId != null">
                    #{qun.ownerId},
                </if>
                <if test="qun.categoryId != null">
                    #{qun.categoryId},
                </if>
                <if test="qun.remark != null">
                    #{qun.remark},
                </if>
                <if test="qun.status != null">
                    #{qun.status},
                </if>
                <if test="qun.createUserId != null">
                    #{qun.createUserId},
                </if>
                <if test="qun.gmtCreate != null">
                    #{qun.gmtCreate},
                </if>
                <if test="qun.gmtModified != null">
                    #{qun.gmtModified},
                </if>
                <if test="qun.modifiedUserId != null">
                    #{qun.modifiedUserId},
                </if>
                <if test="qun.createUserName != null">
                    #{qun.createUserName},
                </if>
                <if test="qun.modifiedUserName != null">
                    #{qun.modifiedUserName},
                </if>
            </trim>
        </if>
    </insert>

    <update id="update">
        <if test="qun != null and qun.id != null">
            update qun set
            <trim suffixOverrides=",">
                <if test="qun.id != null">
                    id = #{qun.id}
                </if>
                <if test="qun.roomId != null">
                    room_id = #{qun.roomId}
                </if>
                <if test="qun.name != null">
                    name = #{qun.name}
                </if>
                <if test="qun.announcement != null">
                    announcement = #{qun.announcement}
                </if>
                <if test="qun.nationalityId != null">
                    nationality_id = #{qun.nationalityId}
                </if>
                <if test="qun.organizationId != null">
                    organization_id = #{qun.organizationId}
                </if>
                <if test="qun.ownerId != null">
                    owner_id = #{qun.ownerId}
                </if>
                <if test="qun.categoryId != null">
                    category_id = #{qun.categoryId}
                </if>
                <if test="qun.remark != null">
                    remark = #{qun.remark}
                </if>
                <if test="qun.status != null">
                    status = #{qun.status}
                </if>
                <if test="qun.gmtModified != null">
                    gmt_modified = #{qun.gmtModified}
                </if>
                <if test="qun.modifiedUserId != null">
                    modified_user_id = #{qun.modifiedUserId}
                </if>
                <if test="qun.modifiedUserName != null">
                    modified_user_name = #{qun.modifiedUserName}
                </if>
            </trim>
            where id = #{qun.id}
        </if>
    </update>
    <update id="updateById">
        <if test="qun != null and qun.id != null">
            update qun set
            <trim suffixOverrides=",">
                <if test="qun.roomId != null">
                    room_id = #{qun.roomId}
                </if>
                <if test="qun.name != null">
                    name = #{qun.name}
                </if>
                <if test="qun.announcement != null">
                    announcement = #{qun.announcement}
                </if>
                <if test="qun.nationalityId != null">
                    nationality_id = #{qun.nationalityId}
                </if>
                <if test="qun.organizationId != null">
                    organization_id = #{qun.organizationId}
                </if>
                <if test="qun.ownerId != null">
                    owner_id = #{qun.ownerId}
                </if>
                <if test="qun.categoryId != null">
                    category_id = #{qun.categoryId}
                </if>
                <if test="qun.remark != null">
                    remark = #{qun.remark}
                </if>
                <if test="qun.status != null">
                    status = #{qun.status}
                </if>
                <if test="qun.gmtModified != null">
                    gmt_modified = #{qun.gmtModified}
                </if>
                <if test="qun.modifiedUserId != null">
                    modified_user_id = #{qun.modifiedUserId}
                </if>
                <if test="qun.modifiedUserName != null">
                    modified_user_name = #{qun.modifiedUserName}
                </if>
            </trim>
            where id = #{qun.id}
        </if>
    </update>
    <delete id="delete">
        delete from qun where room_id = #{roomId}
    </delete>
    <select id="getEntity" resultMap="qunMap">
        select * from qun where id = #{id}
    </select>
    <select id="getQuns" resultMap="qunMap">
        select * from qun where category_id = #{categoryId}
    </select>

    <select id="getOwnerQun" resultMap="qunMap">
        select * from qun where owner_id = #{ownerId}
    </select>
    <select id="qunDetailByRoomId" resultMap="qunMap">
        select * from qun where room_id = #{roomId}
    </select>
    <select id="getQunsByIds" resultMap="qunMap">
        select * from qun where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </select>
    <select id="getQunsByStatus" resultMap="qunMap">
        select * from qun where status = #{status}
    </select>

</mapper>
