<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 引入配置文件 -->
<mapper namespace="com.wgq.chat.contact.dao.QunMemberDao">
    <insert id="insert">

    </insert>


    <delete id="remove">
        delete from qun_member
        <trim prefix="where" prefixOverrides="and | or ">
            <if test="qunMember.qunId != null ">
                and qun_id = #{qunId}
            </if>
            <if test="qunMember.memberId != null ">
                and member_id = #{memberId}
            </if>
        </trim>
    </delete>
    <delete id="removeMember">

    </delete>


    <delete id="delete">

    </delete>

    <select id="isMember" resultType="java.lang.Long">

    </select>
    <select id="getQunsByMemberId" resultType="java.util.Map">
            select * from qun_member where member_id = #{memberId}
    </select>
    <select id="getQunMembers" resultType="com.wgq.chat.contact.po.QunMember">

    </select>
</mapper>
