<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 引入配置文件 -->
<mapper namespace="com.wgq.chat.contact.dao.QunMemberDao">
    <resultMap id="qunMemberMap" type="com.wgq.chat.contact.po.QunMember">
        <result column="id" property="id"/>
        <result column="qun_id" property="qunId"/>
        <result column="member_id" property="memberId"/>
        <result column="apply_time" property="applyTime"/>
        <result column="audit_time" property="auditTime"/>
    </resultMap>
    <insert id="insert">
        <if test="qunMember != null">
            insert into qun_member
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="qunMember.id != null">
                    id,
                </if>
                <if test="qunMember.qunId != null">
                    qun_id,
                </if>
                <if test="qunMember.memberId != null">
                    member_id,
                </if>
                <if test="qunMember.applyTime != null">
                    apply_time,
                </if>
                <if test="qunMember.auditTime != null">
                    audit_time,
                </if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="qunMember.id != null">
                    #{qunMember.id},
                </if>
                <if test="qunMember.qunId != null">
                    #{qunMember.qunId},
                </if>
                <if test="qunMember.memberId != null">
                    #{qunMember.memberId},
                </if>
                <if test="qunMember.applyTime != null">
                    #{qunMember.applyTime},
                </if>
                <if test="qunMember.auditTime != null">
                    #{qunMember.auditTime},
                </if>
            </trim>
        </if>
    </insert>


    <delete id="remove">
        delete from qun_member
        <trim prefix="where" prefixOverrides="and | or ">
            <if test="qunMember.qunId != null ">
                and qun_id = #{qunId}
            </if>
            <if test="qunMember.memberId != null ">
                and member_id = #{memberId}
            </if>
        </trim>
    </delete>
    <delete id="removeMember">
        delete from qun_member where room_id = #{roomId} and member_id = #{memberId}
    </delete>

    <delete id="delete">
        delete from qun_member where qun_id = #{qunId}
    </delete>

    <select id="getQunMemberByMemberId" resultType="java.util.Map">
        select * from qun_member where qun_id = #{qunId} and member_id = #{memberId}
    </select>
    <select id="getQunsByMemberId" resultType="java.util.Map">
        select * from qun_member where member_id = #{memberId}
    </select>
    <select id="getQunMembers" resultMap="qunMemberMap">
        select * from qun_member where qun_id = #{qunId}
    </select>
</mapper>
