<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 引入配置文件 -->
<mapper namespace="com.wgq.chat.dao.MessageDao">

    <resultMap id="messageMap" type="com.wgq.chat.po.Message">
        <result property="id" column="id"/>
        <result property="senderUserId" column="sender_user_id"/>
        <result property="roomId" column="room_id"/>
        <result property="content" column="content"/>
        <result property="replyMessageId" column="reply_message_id"/>
        <result property="gapCount" column="gap_count"/>
        <result property="type" column="type"/>
        <result property="status" column="status"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into message
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="message.id != null">
                id,
            </if>
            <if test="message.senderUserId != null">
                sender_user_id,
            </if>
            <if test="message.roomId != null">
                room_id,
            </if>
            <if test="message.content != null">
                content,
            </if>
            <if test="message.replyMessageId != null">
                reply_message_id,
            </if>
            <if test="message.gapCount != null">
                gap_count,
            </if>
            <if test="message.type != null">
                `type`,
            </if>
            <if test="message.status != null">
                status,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="message.id != null">
                #{message.id},
            </if>
            <if test="message.senderUserId != null">
                #{message.senderUserId},
            </if>
            <if test="message.roomId != null">
                #{message.roomId},
            </if>
            <if test="message.content != null">
                #{message.content},
            </if>
            <if test="message.replyMessageId != null">
                #{message.replyMessageId},
            </if>
            <if test="message.gapCount != null">
                #{message.gapCount},
            </if>
            <if test="message.type != null">
                #{message.type},
            </if>
            <if test="message.status != null">
                #{message.status},
            </if>
        </trim>
    </insert>
    <update id="updateById">
        update message set
        <trim suffixOverrides=",">
<!--            <if test="message.roomId != null">-->
<!--                -->
<!--            </if>-->
            <if test="message.senderUserId != null">
                sender_user_id = #{message.senderUserId},
            </if>
            <if test="message.content != null">
                content = #{message.content},
            </if>
            <if test="message.replyMessageId != null">
                reply_message_id = #{message.replyMessageId},
            </if>
           <if test="message.gapCount != null">
               gap_count = #{message.gapCount},
           </if>
           <if test="message.type != null">
               `type` = #{message.type},
           </if>
           <if test="message.status != null">
               status = #{message.status},
           </if>
        </trim>
        where id = #{message.id}
    </update>
    <select id="getMessage" resultMap="messageMap">
        select * from message where id = #{messageId} and sender_user_id = #{senderUserId}
    </select>
    <select id="getMessageById" resultMap="messageMap">
        select * from message where id = #{messageId}
    </select>
    <select id="getGapCount" resultType="java.lang.Integer">
        select * from message where room_id = #{roomId} and id &gt; #{replyMessageId} > and id &lt;= #{messageId}
    </select>
    <select id="getMessageList" resultMap="messageMap">
        select * from message where room_id = #{roomId} and status = #{status} and  id &lt;= #{lastMsgId}
    </select>
</mapper>
