<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 引入配置文件 -->
<mapper namespace="com.wgq.chat.dao.RoomFriendDao">

    <resultMap id="roomFriendResultMap" type="com.wgq.chat.po.RoomFriend">
        <result column="id" property="id"/>
        <result column="room_id" property="roomId"/>
        <result column="smaller_user_id" property="smallerUserId"/>
        <result column="larger_user_id" property="largerUserId"/>
        <result column="room_key" property="roomKey"/>
        <result column="status" property="status"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        <if test="roomFriend != null">
            insert into room_friend
            <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="roomFriend.id != null">
                    id,
                </if>
                <if test="roomFriend.roomId != null">
                    room_id,
                </if>
                <if test="roomFriend.smallerUserId != null">
                    smaller_user_id,
                </if>
                <if test="roomFriend.largerUserId != null">
                    larger_user_id,
                </if>
                <if test="roomFriend.roomKey != null">
                    room_key,
                </if>
                <if test="roomFriend.status != null">
                    status,
                </if>
            </trim>
            <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="roomFriend.id != null">
                    #{roomFriend.id},
                </if>
                <if test="roomFriend.roomId != null">
                    #{roomFriend.roomId},
                </if>
                <if test="roomFriend.smallerUserId != null">
                    #{roomFriend.smallerUserId},
                </if>
                <if test="roomFriend.largerUserId != null">
                    #{roomFriend.largerUserId},
                </if>
                <if test="roomFriend.roomKey != null">
                    #{roomFriend.roomKey},
                </if>
                <if test="roomFriend.status != null">
                    #{roomFriend.status},
                </if>
            </trim>
        </if>
    </insert>

    <update id="updateById">
        update room_friend set
        <trim suffixOverrides=",">
            <if test="roomFriend.id != null">
                id = #{roomFriend.id},
            </if>
            <if test="roomFriend.roomId != null">
                room_id = #{roomFriend.roomId},
            </if>
            <if test="roomFriend.smallerUserId != null">
                smaller_user_id = #{roomFriend.smallerUserId},
            </if>
            <if test="roomFriend.largerUserId != null">
                larger_user_id = #{roomFriend.largerUserId},
            </if>
            <if test="roomFriend.roomKey != null">
                room_key =  #{roomFriend.roomKey},
            </if>
            <if test="roomFriend.status != null">
                status = #{roomFriend.status},
            </if>
        </trim>
        where id = #{roomFriend.id}
    </update>

    <update id="disableRoom">
        update room_friend set status = #{status} where room_key = #{roomKey}
    </update>

    <select id="getByRoomKey" resultMap="roomFriendResultMap">
        select * from room_friend where room_key = #{roomKey}
    </select>

    <select id="getByRoomId" resultMap="roomFriendResultMap">
        select * from room_friend where room_id = #{roomId}
    </select>
</mapper>
